#3DS Stuff
3DS-Homebrew-Template-With-PP2D/3DS-Homebrew-Template-With-PP2D/build
3DS-Homebrew-Template-With-PP2D/3DS-Homebrew-Template-With-PP2D/resources/*.bat
3DS-Homebrew-Template-With-PP2D/3DS-Homebrew-Template-With-PP2D/resources/*.exe
3DS-Homebrew-Template-With-PP2D/3DS-Homebrew-Template-With-PP2D/Debug
3DS-Homebrew-Template-With-PP2D/3DS-Homebrew-Template-With-PP2D/Binaries
3DS-Homebrew-Template-With-PP2D/3DS-Homebrew-Template-With-PP2D/*.3dsx
3DS-Homebrew-Template-With-PP2D/3DS-Homebrew-Template-With-PP2D/*.elf
3DS-Homebrew-Template-With-PP2D/3DS-Homebrew-Template-With-PP2D/*.smdh
3DS-Homebrew-Template-With-PP2D/3DS-Homebrew-Template-With-PP2D/*.exe
3DS-Homebrew-Template-With-PP2D/3DS-Homebrew-Template-With-PP2D/*.bat
3DS-Homebrew-Template-With-PP2D/Debug

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
